project_id            = "your-gcp-project-id"
region                = "us-central1"
location              = "US"
bucket_name           = "your-gcs-bucket-name"
credentials           = "/absolute/path/to/your/credentials/gcreds.json"
service_account_email = "your-service-account@your-gcp-project-id.iam.gserviceaccount.com"
services = [
  "iam.googleapis.com",
  "cloudresourcemanager.googleapis.com",
  "storage.googleapis.com",
  "bigquery.googleapis.com",
  "bigquerystorage.googleapis.com",
  "dataproc.googleapis.com",
  "compute.googleapis.com",
]