AIRFLOW_UID=1000
AIRFLOW__SCHEDULER__TASK_HEARTBEAT_TIMEOUT=10800
AIRFLOW__SCHEDULER__TASK_INSTANCE_HEARTBEAT_TIMEOUT=10800
AIRFLOW__API__SECRET_KEY=your-secret-key
FERNET_KEY=your-fernet-key
_PIP_ADDITIONAL_REQUIREMENTS=apache-airflow-providers-docker apache-airflow-providers-google
CREDENTIALS_HOST_DIR=/absolute/path/to/your/credentials/folder
GCS_BUCKET_NAME=your-gcs-bucket-name
SOCRATA_APP_TOKEN=your-socrata-app-token
DEFAULT_START=2025-01-01T00:00:00.000Z
PAGE_SIZE=10000
DATAPROC_REGION=us-central1
DATAPROC_PROJECT_ID=your-gcp-project-id
